/*
* @Author: Administrator
* @Date:   2017-04-05 14:43:10
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-05 15:07:32
*/
.k{
	width: 800px;
	height: 800px;
	margin: 0 auto;
	background: #ccc;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.k div{
	width: 150px;
	height: 150px;
	background: #f0f;
}
.k div:nth-child(11){
	flex-grow: 2;
}
.k div:nth-child(12){
	background: #ff7600;
	order: -1;
}